<div class="container-fluid ">
  <div class="row p-1 mb-4 bg-info text-white">
    <div class="col-xs-1   d-flex justify-content-left text-left">
        <span class="icon svgicon">
            <img class="custom" src="https://cdn-icons-png.flaticon.com/512/49/49262.png" /></span>
    </div>
    <div class="col-xs-12 col-sm-4  d-flex justify-content-left text-left">
        <h1 style="color:black">TV series</h1>
    </div>
</div>
  <div class="row">
    <div class="col-xs-12 col-sm-4  d-flex justify-content-center text-left">
      <app-serie-list> </app-serie-list>
    </div>
    <div class="col">
    </div>
  </div>
</div>



